<h1>Confirmez votre Email !</h1>

<p>
    Veuillez confirmer votre adresse mail en cliquant sur ce mail: <br><br>
    <a href="{{ signedUrl }}">Confirmer mon adresse Mail</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cordialement .
</p>
