{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}
{% block style %}

<style>
        
        .btn1 {
            border: none;
            outline: none;
            height: 50px;
            width: 100%;
            background-color: rgb(89, 105, 243);
            color: white;
            border-radius: 4px;
            font-weight: bold;
        }

        .btn1:hover {
            background: white;
            border: 1px solid;
            color: black;
        }
</style>
{% endblock %}



    

{% block body %}

<!-- End Header -->
    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <ol>
                <li><a href="index.html">Accueil</a></li>

            </ol>
            <h2>Renitialisation de mot de passe</h2>

        </div>
    </section><!-- End Breadcrumbs -->
    <div class="container" >
    <p>
        Si un compte avec cet email existe, un mail contenant un lien vous permettant de renitialiser votre mot de passe vous sera envoyé.
        Ce lien expirera dans  {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous n'avez toujours pas reçu le mail, allez dans vos spams ou <a href="{{ path('app_login') }}">réessayer encore.</a>.</p>
    </div>
{% endblock %}
