<!-- Header-->
            <header class="bg-gg py-5">
                <div class="container px-5">
                    <div class="row gx-5 align-items-center justify-content-center">
                        <div class="col-lg-8 col-xl-7 col-xxl-6">
                            <div class="my-5 text-center text-xl-start">
                                <h1 class="display-5 fw-bolder text-oran mb-2">Portail d'Archives et de Recherches de Ressources Scientifiques</h1>
                                <br>
                                <p class="lead fw-normal tem mb-4">Soutenu par l'Université Cheikh Anta Diop de Dakar (UCAD) et l'Institut de Recherche pour le Développement (IRD) du Sénégal.</p>
                                <br>
                                <div class="d-grid gap-4 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                    <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Commencer la Recherche</a>
                                    <a class="btn btn-outline-dark btn-lg px-4" href="#!">À propos de nous</a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." /></div>
                    </div>
                </div>
            </header>
<!-- Header-->